.form{
    font-size: 1.6rem;
}

.form__label{
    display: block;
}

.form__input{
    display: block;

    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.form__file-upload{
    display: none;
}

.form__book-text{
    padding: 1rem 1rem 0 1rem;
    font-size: 1.6rem;

    resize: none;
}