.btn{
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0;

    font-size: 1.6rem;
    font-weight: 700;

    cursor: pointer;
}

.btn:hover{
    color: black;
    background: #ccc;
}

.btn:focus{
    outline: none;
    border-radius: 0;
}

.btn--active{
    color: white;
    background: #000;
}